:root {
  --heading-font-family: "Poppins", sans-serif;
  --body-font-family: "Open Sans", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: var(--font-color1);
  background-color: var(--background-color);
}

main {
  max-width: 80%;
  margin: 0 auto;
}

.heading {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  font-size: 1.8rem;
}

.paragraph {
  font-family: var(--body-font-family);
  font-weight: 300;
  margin-top: 0;
  font-size: 1rem;
}

.heading--small {
  margin-bottom: 0;
}

.paragraph--light {
  font-size: 0.8rem;
  margin: 2em 0;
}

.paragraph--small {
  font-size: 0.8rem;
}

.paragraph--grey {
  font-size: 1.2rem;
  color: var(--grey);
}

.paragraph--hero {
  margin-bottom: 2em;
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --background-color: white;
  --font-color1: black;
  --font-color2: white;
  --border-color: hsl(321, 100%, 78%);
  --button-color: hsl(322, 100%, 66%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --grey: hsl(120, 1%, 54%);
}

.btn {
  background-color: var(--button-color);
  font-size: 1rem;
  border-radius: 2em;
  font-weight: 700;
  font-family: var(--body-font-family);
  padding: 1em;
  color: var(--font-color2);
  width: 300px;
  border: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .btn {
    width: 200px;
    font-size: 0.8rem;
  }
}

.btn--small {
  font-weight: 500;
  width: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-left: 1.5em;
  font-size: 0.8rem;
}

.btn--header {
  width: 100%;
  max-width: 120px;
  padding: 0.5em;
  border: 2px solid var(--border-color);
  background-color: var(--font-color2);
  color: var(--font-color1);
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .btn--header {
    width: auto;
    font-size: 0.8rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 3em 2em;
}
.header__logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: auto;
    max-width: 110px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 5em auto 0em;
}
.hero__heading {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: var(--heading-font-family);
  margin-bottom: 0.5em;
}
.hero__image {
  width: 80%;
  height: auto;
  margin: 5em auto;
}
@media screen and (max-width: 767px) {
  .hero__heading {
    font-size: 2rem;
    margin-bottom: 1em;
  }
}

.hero-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-grid__heading {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--heading-font-family);
  margin-bottom: 0;
}
.hero-grid__paragraph {
  margin-top: 1.5em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  gap: 10em;
  margin: 10em 0;
}
.about__image {
  width: 100%;
  max-width: 400px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .about__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
    gap: 5em;
    margin: 5em 0;
  }
  .about__image {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}

.conversations__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  gap: 10em;
  margin: 10em 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.conversations__image {
  width: 100%;
  max-width: 400px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .conversations__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
    gap: 5em;
    margin: 10em 0;
  }
  .conversations__container1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .conversations__container2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .conversations__image {
    margin: 5em 0;
  }
}

.users__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  gap: 10em;
  margin: 10em 0;
}
.users__image {
  width: 100%;
  max-width: 400px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .users__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
    gap: 5em;
    margin: 5em 0;
  }
  .users__image {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}

.gstart__container {
  text-align: center;
  margin: 10em 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10em;
  padding: 5em;
  margin-bottom: 0;
  background-color: var(--very-dark-cyan);
  color: var(--font-color2);
  fill: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer__container1 {
  display: grid;
  grid-template-columns: 20px 150px;
  grid-gap: 10px;
}
.footer__container2 {
  display: grid;
  grid-template-columns: 20px 150px;
  grid-gap: 10px;
}
.footer__container3 {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  grid-gap: 1em;
  width: 100px;
  height: auto;
  margin-top: 3em;
}
.footer__container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}
.footer__input {
  width: 60%;
  padding: 0.5em;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 5em;
    padding: 5em;
  }
  .footer__section1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__section2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}