@use '../utilities/font';

html{
    box-sizing:border-box;
    font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    // font-family: var(--heading-font-family);
    color: var(--font-color1);
    background-color: var(--background-color);
  
}

main{
  max-width: 100%;
  margin: 0 auto;
}