:root{
  --background-color: white;
  --font-color1: black;
  --font-color2: white;
  --border-color: hsl(321, 100%, 78%);
  --button-color : hsl(322, 100%, 66%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

// you can style specific styles for differnt parts of the code