@use "../utilities/font";


.heading{
    font-family: var(--heading-font-family);
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    font-size: 1.8rem;

    @media screen and (max-width: 320px){
        
        font-size: 1.5rem;
    }
}

.paragraph{
    font-family: var(--body-font-family);
    font-weight: 300;
    margin-top: 0;
    font-size: 1rem;

}

.heading--small{
  margin-bottom: 0;
}

.paragraph--light{
 font-size: 0.8rem;
 margin: 2em 0;
 
    
}

.paragraph--small{
   
    font-size: 0.8rem;
    
}

.paragraph--grey{
   
    font-size: 1.2rem;
    color: var(--grey);
    
}

.paragraph--hero{
   
    margin-bottom: 2em;
    
}




a, a:visited,a:active{
   text-decoration: none;
}