@use "../globals/typography";
@use '../utilities/mixins' as footer;



.footer{
  &__mobile-top-img{
    
    @include footer.footer-no-display-bg();
     
    
 }

 &__desktop-top-img{
    @include footer.footer-display-bg();
  }
  
  
  
  &__wrapper{  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  align-items: start;
  gap: 5em;
  padding:5em;
  margin-bottom: 0;
  background-color: var(--very-dark-cyan);
  color: var(--font-color2);
  fill: white;
  // max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
  

  &__container1{
   
    @include footer.contact();
    

  }

  &__container2{
    @include footer.contact();
  }

  &__container3{
    display:grid;
    grid-template-columns: repeat(3,25px);
    grid-gap: 1em;
    width: 100px;
    height: auto;
    margin-top: 3em;
   
  }

  &__social:hover{
    fill: var(--social-icon-hover);
  }

  &__section2{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &__container4{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }

  &__input{
    width: 60%;
    padding: 0.5em;
    overflow: hidden;
  }

  @media screen and (max-width: 767px){
    

    &__wrapper{
   
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: start;
    gap: 5em;
    padding: 5em;
    }

    &__section1{
      order: 2;
  }

  &__section2{
      order: 1;
  }
    
  }

  @media screen and (max-width: 320px){
    
    &__mobile-top-img{
    
      @include footer.footer-display-bg();
       
      
   }
  
   &__desktop-top-img{
    @include footer.footer-no-display-bg();
      
    }
    
  }
}