@use '../globals/boilerplate';

.header{

    
    &__container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 3em 2em;
    }
    
    &__logo{
        width: 150px;
        height: auto;
    }

    &__btn{
        width: 100px;
        font-size: 1rem;
        padding: 0.3em;
        border-radius: 1.5em;
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        
    }
   
}