@use '../globals/boilerplate';

.header{

    
    &__container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 3em 2em;
    }
    
    &__logo{
        width: 100%;
        max-width: 150px;
        height: auto;

        @media screen and (max-width: 767px){
            width: auto;
            max-width: 110px;
        }
    }

   
  
   
}