@use '../globals/boilerplate';

.hero{

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 5em auto 0em;
    }
 
    &__heading{
      font-weight: 700;
      font-size: 2.5rem;
      font-family: var(--heading-font-family);
      margin-bottom: 0.5em;
    }



    &__image{
        width: 80%;
        height: auto;
        margin: 5em auto;
    }

    @media screen and (max-width: 767px){
      

        &__heading{
      
            font-size: 2rem;
            
            margin-bottom: 1em;
          }
     }


}

.hero-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__heading{
        font-size: 3rem;
        font-weight: 700;
        font-family: var(--heading-font-family);
        margin-bottom: 0;
    }

    &__paragraph{
        margin-top: 1.5em;
        text-align: center;

    }

    @media screen and (max-width: 767px){
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
}