// @import '../utilities/mixins';


@mixin grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 10em;
}

@mixin images{
    width: 100%;
    max-width: 400px;
    height: auto;
}

@mixin desktop-section-margins
{
    margin: 10em 0;
}

@mixin mobile-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
   margin: 0 auto;
   width: 80%;
    gap: 5em;
}

@mixin mobile-images{
    width: 80%;
    max-width: 200px;
    height: auto;
}



@mixin mobile-section-margins
{
    margin: 5em 0;
}

@mixin display-bg
{
    display: block;
    max-width: 100%;
    height: auto;
    overflow: contain;
}

@mixin no-display-bg
{
    display: none;
   
}



.about{
    @include desktop-section-margins();
   

    &__mobile-top-img{
    
       @include no-display-bg();
        
       
    }

    &__desktop-top-img{
       @include display-bg();
     }


     &__mobile-bottom-img{
        @include no-display-bg();
     }


     &__desktop-bottom-img{
        @include display-bg();
     }

     &__wrapper{
        background-color: var(--very-pale-blue);
     }

    &__container{
        
        @include grid();
       
    }

   &__image{
       @include images();
   }

   @media screen and (max-width: 767px) {
     
    &__container{
        @include mobile-grid();
        // @include mobile-section-margins();
    }

   &__image{
       @include mobile-images();
   }
   }

   @media screen and (max-width: 320px){

    @include mobile-section-margins();
    
    &__mobile-top-img{
    
        @include display-bg();
        
     }
 
     &__desktop-top-img{
        @include no-display-bg();

      }
 
 
      &__mobile-bottom-img{
        @include display-bg();
      }
 
 
      &__desktop-bottom-img{
        @include no-display-bg();
      }

      &__container{
        @include mobile-grid();
        // @include mobile-section-margins();
    }
    
  }
  
}

.conversations{

    @include desktop-section-margins();
  
    &__container{
        @include grid();
      
    }

   &__image{
       @include images();
   }

   @media screen and (max-width: 767px) {
     
    &__container{
        @include mobile-grid();
       
    }

    &__container1{
        order: 2;
    }

    &__container2{
        order: 1;
    }


   }
  
}

.users{

    @include desktop-section-margins();
   

    &__mobile-top-img{
    
       @include no-display-bg();
        
       
    }

    &__desktop-top-img{
       @include display-bg();
     }


     &__mobile-bottom-img{
        @include no-display-bg();
     }


     &__desktop-bottom-img{
        @include display-bg();
     }

     &__wrapper{
        background-color: var(--very-pale-blue);
     }

  
    &__container{
        @include grid();
      
    }

   &__image{
       @include images();
   }

   @media screen and (max-width: 767px) {
     
    &__container{
        @include mobile-grid();
        // @include mobile-section-margins();
    }

   &__image{
       @include mobile-images();
   }
   }

   @media screen and (max-width: 320px){

    @include mobile-section-margins();
    
    &__mobile-top-img{
    
        @include display-bg();
        
     }
 
     &__desktop-top-img{
        @include no-display-bg();

      }
 
 
      &__mobile-bottom-img{
        @include display-bg();
      }
 
 
      &__desktop-bottom-img{
        @include no-display-bg();
      }

      &__container{
        @include mobile-grid();
        // @include mobile-section-margins();
    }
    
  }
  
}


.gstart{
    &__container{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        @include desktop-section-margins();
        
    }

   @media screen and (max-width: 320px){

    &__container{
        
       
        @include mobile-section-margins();
    }
   }

}




